.search-bar {
  background-color: #2c2c2c;
  padding: 20px;
  color: #fff;
  display: flex;
  align-items: center;
}

.search-input {
  cursor: text;
  background-color: #444;
  border: none;
  padding: 10px;
  color: #fff;
  flex-grow: 1;  /* this will make the input field to take remaining space */
  margin-right: 10px;
}

.search-button {
  cursor: pointer;
  background-color: #444;
  border: none;
  padding: 10px;
  color: #fff;
}

.search-result {
  padding: 10px;
}

.search-result:hover {
  background-color: #414141; /* Adjust this color to the shade of grey you want */
}
