.search-bar {
  background-color: #2c2c2c;
  padding: 20px;
  color: #fff;
  display: flex;
  align-items: center;
}

.search-input {
  background-color: #444;
  border: none;
  padding: 10px;
  color: #fff;
  flex-grow: 1;  /* this will make the input field to take remaining space */
  margin-right: 10px;
}

.search-button {
  background-color: #444;
  border: none;
  padding: 10px;
  color: #fff;
}
