.search-results {
    overflow-y: scroll;
    max-height: calc(100vh - 80px);
  }
  
  .search-result {
    background-color: #2c2c2c;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 0;
  }
  .search-results {
    background-color: #2c2c2c;
    padding: 20px;
    color: #fff;
    overflow-y: auto;
    height: calc(100% - 70px);
  }
  
  .thumbnail {
    width: 60px;
    height: 45px;
    margin-right: 10px;
  }
  
  .search-result-title {
    font-size: 14px;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 220px;
  }
  