.search-results {
    overflow-y: scroll;
    max-height: calc(100vh - 80px);
  }
  
  .search-result {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 0;
  }
  
  .thumbnail {
    width: 60px;
    height: 45px;
    margin-right: 10px;
  }
  
  .search-result-title {
    font-size: 14px;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 220px;
  }
  